#to-data {
    /* positioning */
    position: absolute;
    top: 2%;
    right: 5%;
    z-index: 999;

    /* size */
    width: 6vw;
    height: 8vh; 
    border-radius: 25%;

    /* maximum and minimum size */
    max-width: 55px;
    max-height: 55px;
    min-width: 45px;
    min-height: 45px;

    /* styling */
    background-color: rgb(247, 247, 247);
    border-color: #e0e0e0;
    border-style: solid;
    transition: all 0.2s ease-in-out;
}

/* marker image inside button */
#to-data img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button_shadow {
  box-shadow: 0 3px 2px 0 rgb(51, 51, 51, 0.5);
  cursor: pointer;
}

.button_active {
  transform: translateY(4px);
}